{% extends "master.html.twig" %}

{% block title %}about{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}

    <section class="section-title">
        <div class="container">
            <h1> About <small> Who are we? </small></h1>
        </div>    
    </section>

    <section class="bread-crumb">
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <div class="wow bounceInUp">    
                        <img src="/images/puzzle.png" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-7">    
                    <div class="wow fadeIn">                        
                        <h2>Welcome to Blue Energy</h2>
                        <p class="lead">Blue Energy was founded in 2008. Our mission is to provide convenient and environment-friendly transportation for urban life. We provide a more efficient and more energy-saving way to travel. Our goal is to solve the urban traffic problem: traffic jam and traffic pollution. Let the daily commuter in the city becomes healthier and more interesting. Our products are mainly divided into: intelligent personal transportation, intelligent electric assist bike, intelligent electric scooter, intelligent electric motorcycle, high safety lithium battery-pack. We provide individual users with personal urban traffic one-stop solution, but also for enterprise users to customize the development of dedicated lithium-ion battery pack.
                         
                         </p>
                        <a href="/contact" class="btn btn-primary btn-lg"> Contact Us </a>

                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">                    
                    <h2 class="page-header">Meet the team</h2>
                </div>
            </div>

            <div class="row">     
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="/images/woman1.jpg" alt="Women">
                    <h3>Blue Energy Montreal,Canada<small>CEO</small></h3>
                    <p>For full range of electric bike, mobility scooters and electric (motorized) wheelchairs. Wheelchair accessories include vehicle lifts, wheel chair ramps and much more. 
                    <ul class="list-unstyled list-inline list-social-icons">

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                

                <div class="col-md-4">

                    <img class="img-responsive img-thumbnail img-circle" src="/images/man1.jpg" alt="Women">

                    <h3>Jeff Bridges <small>Designer</small></h3>

                    <p>The smooth 4-stroke engine normally purrs almost inaudibly beneath you, but the torquey, 
                        fuel-injected single can move surprisingly quickly when you need it to. 
                    </p>

                    <ul class="list-unstyled list-inline list-social-icons">

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="/images/woman2.jpg" alt="Women">
                    <h3>Beth Johnson <small>Sales</small></h3>
                    <p>Quality Assurance       Check our quality used equipment amd also check enquire about convenient and affordable 
                        scooter and wheel chair.You can trust us.No need to worry when you’re first in line at the intersection.
                       </p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="/images/man3.jpg" alt="Women">
                    <h3>Ryan Thompson <small>Marketer</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                
                
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="/images/woman3.jpg" alt="Women">
                    <h3>Susan White <small>Human Resources</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>                

                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail img-circle" src="/images/group1.png" alt="Women">
                    <h3>Steve Reed <small>Content</small></h3>
                    <p>Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.Tip chuck prosciutto pastrami, ham beef ribs kevin prosciutto cow flank 
                        andouillette.</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social linkedin-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Linkedin"> 
                                <i class="fa fa-linkedin-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social twitter-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Twitter"> 
                                <i class="fa fa-twitter-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social facebook-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="facebook"> 
                                <i class="fa fa-facebook-square fa-2x"></i> 
                            </a> 
                        </li>                        

                        <li class="tooltip-social google-plu-link"> 
                            <a href="#!" data-toggle="tooltip" data-placement="top" title="Google Plus"> 
                                <i class="fa fa-google-plus-square fa-2x"></i> 
                            </a> 
                        </li>
                    </ul>               
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Our Clients</h2>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client1.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client2.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client3.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client4.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client5.png">
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive img-customer" src="/images/client6.png">
                </div>
            </div>
        </div><!-- /.container -->
    </section>

{% endblock content %}


