{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block headExtra %}
{% endblock %}

{% block content %}
    <div class="messagecontainer">
    <p><br><br>You've logged out succesfully.<br><br>
    <a href="/login">Click to login</a>.</p><br><br>
    </div>
{% endblock content %}

