{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    
    <div class="container">
        <section class="section-title">
            <h1>Password reset</h1>
        </section>
        <br/>
        {% if error %}
            <p><b>We couldn't find email you provided in our system.
                    Try again or register a new account</b></p>
        {% endif %}

        <form method="POST">
            <div class="form-group">
                <label>Enter your email:</label><br>
                <input type="email" name="email" placeholder="email" class="login_form" required="required" />
            </div>    
            <button type="submit" class="btn-lg btn-primary col-xs-2 col-md-2">Password reset</button>        
        </form>
    </div>
    <br/>
    
{% endblock %}