{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    
    <div class="container">
        <section class="section-title">
            <h1>Password reset</h1>
        </section>
        <br/>
        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
        <p>Enter your new password below.</p>
        <form method="POST">
            <label>Password: </label>          
            <input type="password" name="pass1" placeholder="password" class="login_form input-txt" required="required" /><br>
            <label>Password (repeated)</label>
            <input type="password" name="pass2" placeholder="password" class="login_form input-txt" required="required" /><br>
            <input type="submit" value="Reset password">
        </form>
    </div>
    <br/>
    
{% endblock %}